body {
    font-family: "Segoe UI", sans-serif;
    background: #ffe6f2;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #ffb3d9;
    box-shadow: 0 8px 20px rgba(255, 105, 180, 0.2);
}

h2 {
    text-align: center;
    color: #ff4da6;
}

h3 {
    color: #d11a7f;
    margin-top: 20px;
}

.date-box {
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid #ff99cc;
    margin-top: 8px;
    font-size: 15px;
}

textarea {
    height: 120px;
}

button {
    background: #ff4da6;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #ff1a8c;
}

.mood-box {
    margin-top: 15px;
}

.moods span {
    font-size: 26px;
    margin-right: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.moods span:hover {
    transform: scale(1.2);
}

.currentMood {
    margin-top: 6px;
    font-weight: bold;
}

.task-input-box {
    display: flex;
    gap: 10px;
}

.task-input-box input {
    flex: 1;
}

ul {
    padding-left: 0;
}

li {
    background: #ffe6f2;
    margin: 8px 0;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    border-left: 4px solid #ff4da6;
}

.done-btn {
    background: #b30086;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.log-section {
    background: #fff0f7;
    padding: 15px;
    border-radius: 15px;
    margin-top: 30px;
    border: 2px solid #ffb3d9;
}

.log-item {
    background: #ffd6ea;
    padding: 8px;
    margin: 6px 0;
    border-radius: 8px;
}
